:root {
  --dark-blue: #021123;
  --transparent-white-697: rgba(255, 255, 255, 0.697);
  --transparent-white-50: rgba(255, 255, 255, 0.5);
  --transparent-white-10: rgba(255, 255, 255, 0.1);
  --text-color: #37343ddd;
  --text-color-darker: #37343de1;
  --text-color-light: #37343d53;
  --gradient-purple-yellow: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --transparent-white-3: rgba(255, 255, 255, 0.3)
}